@media screen and (min-width: 768px) {

  #menu-button {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  .hero {
    grid-column: span 2;
}

.spotlights {
    grid-column: span 2;
}

#spotlight-container {
    grid-template-columns: repeat(3, 1fr);
}


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #members.grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

  #members.list-view .member-card {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    text-align: left;
    gap: 1rem;
  }
}

join-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}